@mixin section-style {
  min-height: 100vh;
  color: $secondary-color;
  padding: 15% 5% 0% 5%;
}
@mixin section-title {
  font-size: 3rem;
}
@mixin unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin frosted-glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
@mixin lifted {
  -webkit-box-shadow: 9px 10px 22px -8px rgba($background-color, 0.5);
  -moz-box-shadow: 9px 10px 22px -8px rgba($background-color, 0.5);
  box-shadow: 9px 10px 22px -8px rgba($background-color, 0.5);
}
@mixin background-overlay($url) {
  background: linear-gradient(to bottom right, rgba($background-color, 0.8), rgba($background-color, 1)), url($url);
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
}
